.error-container {
  height: 50px;
  width: 200px;
  background-color: rgb(221, 53, 53);
  color: white;
  font-weight: 700;
  border-radius: 7px;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 100;
  animation: 4s warning linear;

  @keyframes warning {
    0% {
      opacity: 0;
      top: 40px;
    }
    10% {
      opacity: 1;
      top: 10px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
