@import "../../styles/colors";

.chart-wrapper-container {
  background-color: white;
  border: 1px solid $border;
  height: 70vh;
  position: relative;
  width: 70vw;

  .timeline-button {
    border: none;
    background-color: white;
    color: $gray;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 700;
    transition: 0.35s;
  }

  .timeline-button:hover {
    color: $blue;
  }

  .active-timeline {
    color: $blue;
  }

  .coin-button-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 25px;
  }

  .chart-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  .new-coin-input {
    border: none;
    border-bottom: 1px solid $blue;
    font-weight: 700;
    outline: none;
    padding: 0px 1px;
    width: 60px;
  }

  .new-coin-input::placeholder {
    color: $gray;
  }

  .new-coin-input:focus {
    color: $blue;
  }

  .coin-list-item,
  .cancel {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 5px;
    text-align: left;
    transition: 0.25s;
    width: 100%;
  }

  .cancel {
    background-color: $red;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    width: 65px;
  }

  .coin-list-item:hover {
    background-color: rgba(0, 82, 255, 0.15);
  }

  .coin-search-container {
    text-align: left;
    font-size: 14px;
    width: 150px;
    position: absolute;
  }

  .remove-button {
    color: $red !important;
  }

  .positive {
    color: rgb(19, 163, 19);
  }

  .negative {
    color: $red;
  }

  .percentage {
    padding-top: 5px;
    font-weight: 400;
    font-size: 1.25vw;
    padding-left: 10px;
  }

  .input-container {
    margin-left: 4px;
    margin-top: -2px;
  }

  .coin-chart-header {
    color: $blue;
    font-size: 2vw;
    font-weight: 700;
  }

  .line-container {
    background-color: white;
    border: 1px solid $border;
    border-top: none;
    height: 100%;
    margin-left: -1px;
    padding-top: 5vh;
    width: 100%;
  }

  .current-price {
    font-weight: 500;
    padding: 15px 25px;
    text-align: left;

    .price-action {
      padding-top: 5px;
      font-size: 1.2vw;
    }
    .price-header {
      color: gray;
      font-size: 1vw;
    }
  }

  .button-container {
    padding: 15px 25px;
  }
}
