@import "../../styles/colors";
@import "../../styles/variables";

.chart-wrapper-container {
  border: 1px solid var(--border);
  height: 75vh;
  position: relative;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .timeline-button {
    border: none;
    background-color: transparent;
    color: $gray;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 700;
    transition: 0.35s;
    white-space: nowrap;
  }

  .timeline-button:hover {
    color: var(--blue);
  }

  .active-timeline {
    color: var(--blue);
  }

  .coin-button-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 25px;
  }

  .chart-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }

  .new-coin-input {
    border: none;
    border-bottom: 1px solid var(--blue);
    font-weight: 700;
    outline: none;
    padding: 0px 1px;
    width: 60px;
  }

  .new-coin-input::placeholder {
    color: $gray;
  }

  .new-coin-input:focus {
    color: var(--blue);
  }

  .coin-list-item,
  .cancel {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 5px;
    text-align: left;
    transition: 0.25s;
    width: 100%;
  }

  .cancel {
    background-color: var(--red);
    border-radius: 5px;
    color: $white;
    font-weight: 600;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
    width: 65px;
  }

  .coin-list-item {
    color: var(--text);
  }

  .coin-list-item:hover {
    background-color: rgba(0, 82, 255, 0.15);
  }

  .coin-search-container {
    text-align: left;
    font-size: 14px;
    width: 150px;
    position: absolute;
  }

  .remove-button {
    color: var(--red);
  }

  .positive {
    color: rgb(19, 163, 19);
  }

  .negative {
    color: var(--red);
  }

  .percentage {
    padding-top: 5px;
    font-weight: 400;
    font-size: 1.25vw;
    padding-left: 10px;
  }

  .input-container {
    margin-left: 4px;
    margin-top: -2px;
  }

  .coin-chart-header {
    color: var(--blue);
    font-size: 2vw;
    font-weight: 700;
  }

  .line-container {
    background-color: var(--bg-sec);
    border: 1px solid var(--border);
    border-top: none;
    cursor: crosshair;
    height: 100%;
    margin-left: -1px;
    padding-top: 5vh;
    width: 100%;
  }

  .current-price {
    font-weight: 500;
    padding: 15px 25px;
    text-align: left;

    .price-action {
      padding-top: 5px;
      font-size: 1.2vw;
      color: var(--text);
    }
    .price-header {
      color: gray;
      font-size: 1vw;
      white-space: nowrap;
    }
  }

  .button-container {
    align-items: flex-start;
    display: flex;
    padding: 15px 25px;
  }

  .no-portfolio {
    h1 {
      color: var(--blue);
    }
    h3,
    h4 {
      color: var(--text);
    }
  }

  // for screens with width below 1100px
  @media (max-device-height: 1366px) and (max-device-width: 1024px) and (orientation: portrait) {
    height: 25vh;
  }

  @media (max-width: $below1100) {
    width: 90vw;

    .coin-chart-header {
      font-size: 18px;
    }

    .percentage {
      font-size: 14px;
      padding: 0;
    }

    .price-action {
      font-size: 14px !important;
    }

    .price-header {
      font-size: 14px !important;
    }

    .timeline-button {
      font-size: 14px;
    }
  }

  @media (max-device-width: 414px) {
    .button-container {
      margin: 0 auto;
      padding: 0;
    }

    .chart-header-container {
      flex-wrap: wrap;
    }

    .coin-button-container {
      margin-top: 55%;
      background-color: transparent;
      flex-wrap: nowrap;
    }

    .current-price {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px;
      width: 100%;

      .price-action {
        padding: 0;
      }

      .price-header {
        display: none;
      }
    }
  }
}
