$coolGrey: #264653;
$blue: rgba(0, 82, 255, 0.8);
$peacockGreen: #2a9d8f;
$gray: rgb(185, 185, 185);
$yellowOchre: #e9c46a;
$sandPC: #f4a261;
$burntSienna: #e76f51;
$white: white;

$blueLight: rgba(0, 82, 255, 0.7);
$red: rgb(221, 53, 53);

$border: #d1cece;

$whitebackground: rgb(233, 231, 231);
$background: rgba(0, 62, 193, 0.1);
