@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import "../../styles/colors";
@import "../../styles/variables";

.navbar-container {
  background-color: white;
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: row;
  height: 68px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  .navbar-title {
    color: rgba(0, 82, 255, 0.8);
    font-family: "Teko", sans-serif;
    font-size: 45px;
    font-weight: 600;
    height: 100%;
    margin: auto 0 auto 40px;
    letter-spacing: 0.02em;
    padding-top: 5px;
    text-decoration: none;
    text-align: left;
  }

  .navbar-navigation {
    align-items: center;
    color: rgba(0, 82, 255, 0.8) !important;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-evenly;
    margin-right: 40px;
    width: 10%;
  }

  .nav-link {
    color: rgba(0, 82, 255, 0.8);
    font-size: 1.25vw;
  }

  .active-nav-link,
  .nav-link:hover {
    color: rgba(0, 82, 255, 0.9);
    font-weight: 700;
  }

  .nav-link,
  .active-nav-link {
    transition: 0.25s;
  }

  @media (max-device-height: $phoneHeight) and (max-device-width: $phoneWidth) and (orientation: portrait) {
    display: block;

    .navbar-navigation {
      background-color: $white;
      bottom: calc(-100vh + 68px);
      height: 50px;
      position: absolute;
      width: 100%;

      .nav-link {
        font-size: 15px;
      }
    }

    .navbar-title {
      margin: 0;
      text-align: center;
    }
  }
}
