@import "../../styles/colors";

.news-wrapper {
  .all-news-container {
    background-color: $white;
    border: 1px solid $border;
    overflow: scroll;
    height: calc(100vh - 200px);
    position: relative;
    width: 90vw;

    .scroll-for-more {
      color: $blue;
      font-weight: 700;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .source {
      color: $gray;
      font-size: 10px;
    }

    &:first-child {
      padding-top: 40px;
    }
  }

  .home-news-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .for-you {
      color: $blue;
      font-size: 25px;
      font-weight: 700;
      padding-bottom: 5px;
    }

    .news-container {
      background-color: $white;
      border: 1px solid $border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;

      &:first-child {
        padding-top: 5px;
      }
    }

    .view-more {
      background-color: $blue;
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
      text-decoration: none;
    }
  }

  .news-item-container {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    transition: 0.25s;

    .news-image {
      height: 50px;
      padding-right: 10px;
      width: 50px;
    }

    .news-title {
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.05em;
      line-height: 1.1rem;
      margin: 0;
      text-transform: full-width;
    }

    &:hover {
      background-color: $whitehover;
    }
  }
}
