@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import "../../styles/colors";

.news-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
  color: black;
  text-align: left;
  padding: 0px 10px;
  transition: 0.25s;

  .news-image {
    padding-right: 10px;
    width: 50px;
    height: 50px;
  }

  .news-title {
    font-weight: 500;
    font-size: 13px;
    text-transform: full-width;
    letter-spacing: 0.05em;
    line-height: 1.1rem;
  }
}

.news-item-container:hover {
  background-color: rgb(233, 231, 231);
}

.news-container,
.news-container2 {
  background-color: $white;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid $border;
}

.news-container2 {
  width: 90%;
  overflow: scroll;
  height: calc(100vh - 150px);
  margin-top: 50px;
}

.for-you {
  color: $blue;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0;
}

.news-parent-container {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.view-more {
  font-size: 20px;
  padding: 10px;
  background-color: $blue;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
