@import "../../styles/colors";
@import "../../styles/variables";

.news-wrapper {
  .all-news-container {
    background-color: $white;
    border: 1px solid $border;
    overflow: scroll;
    height: calc(100vh - 200px);
    position: relative;
    width: 90vw;

    .scroll-for-more {
      color: $blue;
      font-weight: 700;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .source {
      color: $gray;
      font-size: 10px;
    }

    &:first-child {
      padding-top: 40px;
    }
  }

  .home-news-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .empty {
      height: 15%;
    }

    .for-you {
      color: $blue;
      font-size: 25px;
      font-weight: 700;
      padding-bottom: 5px;
    }

    .news-container {
      background-color: $white;
      border: 1px solid $border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;

      &:first-child {
        padding-top: 5px;
      }
    }

    .view-more {
      background-color: $blue;
      color: white;
      font-size: 20px;
      font-weight: 500;
      padding: 10px;
      text-decoration: none;
    }
  }

  .news-item-container {
    align-items: center;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    transition: 0.25s;

    .news-image {
      height: 50px;
      padding-right: 10px;
      width: 50px;
    }

    .news-title {
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.05em;
      line-height: 1.1rem;
      margin: 0;
      text-transform: full-width;
    }

    &:hover {
      background-color: $whitehover;
    }
  }

  @media (max-device-height: 1366px) and (max-device-width: 1024px) and (orientation: portrait) {
    .home-news-container {
      display: block !important;
      height: 30vh;
      width: 75vw;

      .empty {
        height: 0 !important;
      }

      .for-you {
        font-size: 100px !important;
      }

      .news-container {
        flex-direction: row !important;
        flex-wrap: wrap;
        width: 100% !important;

        & > :nth-last-child(2) {
          display: none;
        }
        :nth-last-child(1) {
          flex-grow: 2;
        }
      }

      .news-item-container {
        width: 45%;
      }
    }
  }

  @media (max-width: $below1100) {
    .home-news-container {
      display: none;
    }
  }

  @media (max-device-height: $phoneHeight) and (max-device-width: $phoneWidth) and (orientation: portrait) {
    .home-news-container {
      margin-top: 30%;
      width: 90vw;

      .for-you {
        font-size: 16px !important;
      }

      .news-container {
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: space-evenly !important;
      }

      .news-image {
        height: 25px !important;
        width: 25px !important;
      }

      .news-item-container {
        padding: 5px 0;
        width: 100%;

        .news-title {
          font-size: 10px;
        }
      }

      .view-more {
        width: calc(90vw - 20px);
      }
    }
  }
}
