$coolGrey: #264653;
$peacockGreen: #2a9d8f;
$yellowOchre: #e9c46a;
$sandPC: #f4a261;
$burntSienna: #e76f51;

.App {
  background-color: $coolGrey;
  height: 100vh;
  text-align: center;
  width: 100vw;
}
