@import "styles/colors";
@import "styles/variables";

.App {
  & > * {
    transition: 0.5s;
  }
}

.App {
  background-color: var(--bg-pri);
  height: calc(100vh - 68px);
  flex-wrap: nowrap;
  text-align: center;
  width: 100vw;

  .component-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 93px);
    justify-content: space-evenly;
    margin-top: 68px;
    padding-top: 4%;
    width: 100%;
  }

  // this needs work as it's firing on standard size
  // @media (max-height: $tabletHeight) and (max-width: $tabletWidth) {
  //   .component-container {
  // flex-direction: column;
  // align-items: center;
  //   }
  // }
}
