@import "styles/colors";

.App {
  background-color: $background;
  height: 100vh;
  text-align: center;
  width: 100vw;

  .component-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
  }

  .current-price {
    font-weight: 500;
    padding: 15px 25px;
    text-align: left;

    .price-action {
      padding-top: 5px;
    }
    .price-header {
      color: gray;
      font-size: 14px;
    }
  }
  .button-container {
    padding: 15px 25px;
  }

  .timeline-button {
  }

  .timeline-button:hover {
    color: $blue;
  }

  .active-timeline {
    color: $blue;
  }

  .coin-button-container {
    padding: 15px 25px;
  }

  .chart-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .new-coin-input {
    width: 50px;
  }
}
